PORT=5000
DATABASE_URL= 'postgresql://neondb_owner:npg_0ceCYWaG4XnD@ep-late-poetry-a1kz8o66-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET=your_secret_key
JWT_EXPIRE=24h
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword
NODE_ENV=development
